     {extend name="default/index"}

     {block name="content"}

        <!-- Breadcumb area Start -->
        <div class="breadcumb-area bg--black ptb--100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="breadcumb">
                            <li class="roshid-breadcumb"><a class="roshid-breadcumb-link" href="">首页</a></li>
                            <li class="roshid-breadcumb"><a class="roshid-breadcumb-link current" href="">登录</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcumb area End -->

        <!-- 登录页面 -->

        <div class="main-content-wrapper">
            <div class="page-inner section-padding">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-10">
                            <div class="form-box">
                                <h1 class="text-center">登录</h1>
                                <p class="text-center">请填写正确信息</p>
                                <form class="form" action="/home/do_denglu"  method="post">
                                    <div class="roshid-form-group row align-items-center">
                                        <div class="col-md-12 col-lg-12 col-12">
                                            <i class="fa fa-times dc" style="display:none;color:red" aria-hidden="true"> 该用户名不存在,请重新输入*</i>
                                            <i class="fa fa-exclamation dc" style="display:none;color:orange" aria-hidden="true">用户名不能为空*</i>
                                            <i class="fa fa-check dc" style="display:none;color:green" aria-hidden="true"> 用户名输入正确</i>
                                            <input type="text" name="user" id="user" class="roshid-input-form" placeholder="帐     号    请输入您的账号">
                                        </div>
                                    </div>
                                    <div class="roshid-form-group row align-items-center">
                                        <div class="col-md-12 col-lg-12 col-12">
                                             <i class="fa fa-exclamation dc" style="display:none;color:orange" aria-hidden="true">密码输入错误*</i>
                                             <i class="fa fa-exclamation dc" style="display:none;color:red" aria-hidden="true"> 密码不能为空*</i>
                                             <i class="fa fa-check dc" style="display:none;color:green" aria-hidden="true"> 密码输入正确</i>
                                            <input type="password" name="pwd" id="pwd" class="roshid-input-form" placeholder="密     码    请输入您的密码">
                                        </div>
                                    </div>

                                     <div class="roshid-form-group row align-items-center">
                                        <div class="col-md-12 col-lg-12 col-12">
                                            <input type="text" name="yzm" id="yzm" class="roshid-input-form" placeholder="验证码    ↓请正确填写下面的验证码">
                                        </div>
                                    </div>
                                     <div class="roshid-form-group row align-items-center">
                                       <div class="col-md-12 col-lg-12 col-12 pull-center">
                                        <img src="{:url('/home/yanzhen')}" alt="captcha" onclick="this.src='/home/yanzhen?'+Math.random()" />
                                        </div>
                                    </div>
                                   
                                    
                                    <div class="roshid-form-group row align-items-center">
                                        <div class="col-lg-12 col-12 text-center">
                                          
                                            <button type="submit" class="btn btn--large btn-style-3">提交</button>
                                        </div>
                                    </div>
                                </form>
                                <a class="create-account-link" href="/home/zhuce">没有账号? 创建一个账号</a>
                            </div>
                        </div>
                    </div>   
                </div>   
            </div>
        </div>
     {/block}
    
