     {extend name="default/index"}

     {block name="content"}

        <!-- Breadcumb area Start -->
        <div class="breadcumb-area bg--black ptb--100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="breadcumb">
                            <li class="roshid-breadcumb"><a class="roshid-breadcumb-link" href="">首页</a></li>
                            <li class="roshid-breadcumb"><a class="roshid-breadcumb-link current" href="">登录</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcumb area End -->

        <!-- 登录页面 -->

        <div class="main-content-wrapper">
            <div class="page-inner section-padding">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-10">
                            <div class="form-box">
                                <h1 class="text-center">登录</h1>
                                <p class="text-center">请填写正确信息</p>
                                <form class="form" action="/home/dologin"  method="post">
                                    <div class="roshid-form-group row align-items-center">
                                        <div class="col-md-12 col-lg-12 col-12">
                                            <i class="fa fa-times dc" style="display:none;color:red" aria-hidden="true"> 该用户名不存在,请重新输入*</i>
                                            <i class="fa fa-exclamation dc" style="display:none;color:orange" aria-hidden="true">用户名不能为空*</i>
                                            <i class="fa fa-check dc" style="display:none;color:green" aria-hidden="true"> 用户名输入正确</i>
                                            <input type="text" name="uname" id="uname" class="roshid-input-form" placeholder="帐     号    请输入您的账号" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="roshid-form-group row align-items-center">
                                        <div class="col-md-12 col-lg-12 col-12">
                                            <i class="fa fa-exclamation dc" style="display:none;color:orange" aria-hidden="true"> 密码不能为空*</i>
                                             <i class="fa fa-exclamation dc" style="display:none;color:red" aria-hidden="true">密码输入错误*</i>
                                            <i class="fa fa-check dc" style="display:none;color:green" aria-hidden="true"> 密码输入正确</i>
                                            <input type="password" name="pwd" id="pwd" class="roshid-input-form" placeholder="密     码    请输入您的密码">
                                        </div>
                                    </div>

                                     <div class="roshid-form-group row align-items-center">
                                        <div class="col-md-12 col-lg-12 col-12">
                                            <input type="text" name="yanzhen" id="yanzhen" class="roshid-input-form" placeholder="验证码    ↓请正确填写下面的验证码" autocomplete="off">
                                        </div>
                                    </div>
                                     <div class="roshid-form-group row align-items-center">
                                       <div class="col-md-12 col-lg-12 col-12 pull-center">
                                       <img src="{:url('/home/yan')}" alt="captcha" onclick="this.src='/home/yan?'+Math.random()"/>
                                        </div>
                                    </div>
                                    <div class="roshid-form-group row align-items-center">
                                        <div class="col-lg-12 col-12 text-center">
                                          
                                            <button type="submit" class="btn btn--large btn-style-3">登录</button>
                                        </div>
                                    </div>
                                </form>
                                <a class="create-account-link" href="/home/zhuce">没有账号? 创建一个账号</a>
                            </div>
                        </div>
                    </div>   
                </div>   
            </div>
            <script src="/admin/login/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        // 获取焦点
       $("#uname").focus(function(){
            $("#uname").attr('placeholder','');
       });
        // 获取焦点
       $("#pwd").focus(function(){
            $("#pwd").attr('placeholder','');
       });
        // 名称查询
          $("#uname").blur(function(){
              // 设置一个失去焦点的操作
                 $(function(){  
                    $.ajax({        
                        type : 'post',       
                        url : '/home/login_name',        
                        dataType : 'json',       
                        data : {  'uname' : $('#uname').val() },//这里的data是一个对象       
                        success : function(data){  
                             // console.log(data);
                            let ob =  JSON.parse(data); 
                        if(ob.status == 100){
                                // 值为空
                                $(".dc:eq(1)").show();
                                $(".dc:eq(0)").hide();
                                $(".dc:eq(2)").hide();
                                $("#zhuce").attr("disabled",true);
                                $("#uname").css('border-color','red');
                            }
                            if(ob.status == 200){
                                // 账号不存在
                                $(".dc:eq(0)").show();
                                $(".dc:eq(1)").hide();
                                $(".dc:eq(2)").hide();
                                $("#zhuce").attr("disabled",true);
                                  $("#uname").css('border-color','red');
                            }
                            if(ob.status == 400){
                                 // 正确
                                $(".dc:eq(0)").hide();
                                $(".dc:eq(1)").hide();
                                $(".dc:eq(2)").show();
                                $("#zhuce").attr("disabled",false);
                               $("#uname").css('border-color','');
                            }
                        }, 
                    });
                  });
            });
             // 密码查询
          $("#pwd").blur(function(){
              // 设置一个失去焦点的操作
             $(function(){  
                $.ajax({        
                    type : 'post',       
                    url : '/home/login_pwd',        
                    dataType : 'json',       
                    data : {  'pwd' : $('#pwd').val(),'uname' : $('#uname').val() },//这里的data是一个对象       
                    success : function(data){  
                         // console.log(data);
                        let ob =  JSON.parse(data); 
                        if(ob.status == 100){
                            // 值为空
                            $(".dc:eq(3)").show();
                            $(".dc:eq(4)").hide();
                            $(".dc:eq(5)").hide();
                            $("#zhuce").attr("disabled",true);
                             $("#pwd").css('border-color','red');
                        }
                        if(ob.status == 200){
                            // 密码错误
                            $(".dc:eq(4)").show();
                            $(".dc:eq(3)").hide();
                            $(".dc:eq(5)").hide();
                             $("#pwd").css('border-color','red');
                            $("#zhuce").attr("disabled",true);
                        }
                        if(ob.status == 400){
                             // 正确
                            $(".dc:eq(5)").show();
                            $(".dc:eq(3)").hide();
                            $(".dc:eq(4)").hide();
                             $("#zhuce").attr("disabled",false);
                              $("#pwd").css('border-color','');
                        }
                       
                    }, 
                });
              });
            });
          
    </script>
        </div>
     {/block}
    
